  body{
    background: skyblue;  
  }
  .wetherBg{
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
  }
  .container{
    width:1700px
  }
  .weathorIcon{
    /* margin-right: 600px; */
    width:100px;
    height:100px;   
  }
  .temperature{
    text-align: center;
        
  }